body{
  margin: 2% 10% 5%;
  background-image:url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: cursive;
}

.contenitoretotale{
  background-color: #0e0e0eb8;
  border-radius: 2%;
  padding: 5% 7% 10%;
}

header,h1{
  text-align: center;
  color: #00dd00;
  margin :1%;
}

img{
  width: 20%;
}

nav{
  background-color: #00dd00;
  text-align: center;
  padding: 7px;;
}

span,h2{
  display: inline-block;
  color: white;
  margin-bottom: 0;
}

.progressBar {
    width: 300px;
    height: 30px;
    margin-top: 5px;
    background-color: orange;
    border-radius: 5%;
}

.progressBar2 {
    width: 500px;
    height: 30px;
    margin-top: 5px;
    background-color: green;
    border-radius: 3%;
}

.progressBar3 {
    width: 150px;
    height: 30px;
    margin-top: 5px;
    background-color: red;
    border-radius: 7%;
}
